In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [39]:
df=pd.read_csv('forestfires.csv')

In [40]:
df.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [43]:
df['month']=LabelEncoder().fit_transform(df['month'])
df['day']=LabelEncoder().fit_transform(df['day'])

In [44]:
df.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,7,0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,10,5,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,10,2,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,7,0,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,7,3,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [33]:
X=df.drop(['size_category'],axis='columns')
Y=df['size_category']

In [34]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=0)

In [38]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((361, 30), (156, 30), (361,), (156,))

# Kernal is Poly

In [65]:
model=SVC(kernel='poly').fit(x_train,y_train)

In [66]:
y_pred=model.predict(x_test)

In [67]:
acc = accuracy_score(y_test, y_pred) * 100

In [68]:
acc

75.64102564102564

# Kernal is RBF

In [70]:
model=SVC(kernel='rbf').fit(x_train,y_train)
y_pred=model.predict(x_test)
acc = accuracy_score(y_test, y_pred) * 100
acc

72.43589743589743

# Kernal is linear

In [72]:
model=SVC(kernel='linear').fit(x_train,y_train)
y_pred=model.predict(x_test)
acc = accuracy_score(y_test, y_pred) * 100
acc

96.7948717948718